{% extends "base.html" %}

{% block title %}{{ membership.get_name_display }} | WhiteboardApp{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
    <h1>My Membership</h1>
    <h3> {{ membership.get_name_display }}</h3>
    <p> {{ membership.description }}</p>
    <p>{{ membership.benefits }}</p>
    <p>You have been enrolled to {{ student_enrolled_course_count }} courses </p>
    <a href="{% url 'WhiteboardApp:membership-list' %}">Update or Buy new Membership</a>
{% endblock %}
