@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");
body {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  font-family: "Merriweather", serif;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 800px; /* specify a fixed height */
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* add this to clip any content that spills out of the container */
}
.circle, .img {
  width: 100%;
  height: 400px; /* specify a fixed height */
  object-fit: cover; /* add this to resize images nicely */
  border-radius: 50%;
}
.container {
  position: relative;
  width: 100%;
}
.container-inner {
  position: relative;
  width: 100%;
}
.divider {
  background-color: #ca6060;
  height: 1px;
  width: 80%;
  margin: 10px auto;
}
.name {
  color: #404245;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.title, .bio, .linkedin, .university, .description{
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
