.billboard-container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.billboard-container h1 {
    font-size: 4rem;
    margin: 0;
}

.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
body {
  font-size: 14px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* This makes sure the navbar is always on top */
    height: 60px;  /* Set a fixed height for your navbar */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

.container {
    flex-grow: 1; /* Fill available space */
}

.footer {
    clear: both; /* Prevent the footer from going behind other elements */
}