<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../../static/css/about-us.css">
</head>
<body>
    {% for contributor in contributors %}
    <div class="person">
      <div class="container">
        <div class="container-inner">
          <img
              class="circle"
              src="{{ contributor.profile_picture.url|default:'ben.png' }}"
            />
        </div>
      </div>
      <div class="divider"></div>
      <div class="name">{{ contributor.name }}</div>
      <div class="title">{{ contributor.get_major_display }}</div>
      <div class="bio">{{ contributor.bio }}</div>
      <div class="description">{{ contributor.description }}</div>
      <div class="linkedin"><a href="{{ contributor.linkedin }}">LinkedIn</a></div>
      <div class="university">{{ contributor.university }}</div>
    </div>
    {% endfor %}
</body>
</html>
