{% extends "base.html" %}

{% block title %}Successful Payment | WhiteboardApp{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
    <h1>Successful Payment</h1>
    <br>
    <h3 class="text-center text-success"> you have successfully paid {{ amount }} in {{ currency }}</h3>
    <br>
    <a class="btn btn-primary btn-sm" href="{% url 'WhiteboardApp:payment_list_of_student' user.student.id %}">
        <i class="fa-solid fa-list"></i> Show Payments List
    </a>
    <div id="space">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}
