{% extends "base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
{% endblock %}

{% block title %}Make a Payment | WhiteboardApp{% endblock %}


{% block carousel %}
{% endblock %}


{% block content %}

    <div class="text-center">
        <img class="img-fluid" src="{% static 'image/payment_images/payment banner.jpg' %}">
    </div>

    <div class="text-center">
        <h1 style="text-shadow: 2px 2px 4px  rgba(3, 0, 0, 3);">
            Make a Payment
        </h1>
    </div>

    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="col-md-8 offset-md-2">

                    {# Student #}
                    <div class="input-group input-group-sm mb-2">
                        <input type="hidden" class="form-control form-control-sm"
                               id="{{ form.student.id_for_label }}"
                               name="{{ form.student.html_name }}"
                               placeholder="student"
                               value="{{ form.student.value|default:'' }}">
                    </div>

                    {# Amount #}
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text"> Amount: </span>
                        <select class="form-control form-control-sm"
                                id="{{ form.amount.id_for_label }}"
                                name="{{ form.amount.html_name }}">
                            <option value="" disabled selected>Select an Amount</option>
                            {% for value, label in form.amount.field.choices %}
                                <option value="{{ value }}"
                                        {% if value == form.amount.value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {# Card Number #}
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text"> Card Number: </span>
                        <input type="text" class="form-control form-control-sm"
                               id="{{ form.card_number.id_for_label }}"
                               name="{{ form.card_number.html_name }}"
                               placeholder="1234 1234 1234 1234"
                               value="{{ card_number|default:'' }}">
                    </div>

                    {# expiration_date #}
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text"> Expiration Date: </span>
                        <input type="text" class="form-control form-control-sm"
                               id="{{ form.expiration_date.id_for_label }}"
                               name="{{ form.expiration_date.html_name }}"
                               placeholder="MM/YY"
                               value="{{ expiration_date |default:'' }}">
                    </div>

                    {# cvc #}
                    <div class="input-group input-group-sm mb-2">
                        <span class="input-group-text"> CVC: </span>
                        <input type="text" class="form-control form-control-sm"
                               id="{{ form.cvc.id_for_label }}"
                               name="{{ form.cvc.html_name }}"
                               placeholder="123"
                               value="{{ form.cvc.value|default:'' }}">
                    </div>

                    {# clear_form and pay buttons#}
                    <div class="col-12">
                        <button type="button" class="btn btn-secondary btn-sm"
                                onclick="$('#{{ form.card_number.id_for_label }}, #{{ form.expiration_date.id_for_label }}, #{{ form.cvc.id_for_label }}').val('');">
                            <i class="fas fa-times"></i> Clear Form
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-money-check-dollar"></i> Pay
                        </button>
                    </div>
                    <br>

                    {# form validation errors will show if exist #}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismissible fade show">
                                    {{ field.name }}: {{ error }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                </div>
            </form>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}