{% extends "base.html" %}

{% block title %}Student Detail | WhiteboardApp{% endblock %}

{% block content %}
    <h1>Student Detail</h1>
    <p>Username: {{ student.user.username }}</p>
    <p>Courses Enrolled:</p>
    <ul>
        {% for course in student.courses_enrolled.all %}
            <li>{{ course.title }}</li>
        {% endfor %}
    </ul>
    <p>Membership: {{ student.membership }}</p>
    <a href="{% url 'WhiteboardApp:student-update' student.pk %}">Update Student</a>
{% endblock %}
