{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
<div class="login-container">
    <h1>Login</h1>
    <figure><img src="{% static 'image/login.jpg' %}" alt="login image"></figure>
    <form method="post">
        {% csrf_token %}
        <div class="form-field">
            <i class="fa fa-user"></i>
            <input type="text" name="{{ form.username.name }}" placeholder="Enter your username" required>
        </div>
        <div class="form-field">
            <i class="fa fa-lock"></i>
            <input type="password" name="{{ form.password.name }}" placeholder="Enter your password" required>
        </div>
        <button class="btn-login" type="submit">Login</button>
        <div class="form-field"></div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

        {% endif %}
    </form>
    <p class="footer-text">Don't have an account?</p>
        <a href="{% url 'WhiteboardApp:signup' 1%}">Instructor Sign up</a>
        <a href="{% url 'WhiteboardApp:signup' 2%}">Student Sign up</a>
</div>
<!-- jQuery -->
{#<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
<!-- Bootstrap JavaScript -->
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>#}
{#<script src="{% static 'js/login.js' %}"></script>#}
</body>
</html>
